* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*------------ HEADER -----------------*/
/* MENU DROPDONW */
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding: 16px 0 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 56px;
}
input {
  padding: 4px;
  border-radius: 4px;
}
button {
  background-color: darkgoldenrod;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
}
.submenu {
  display: none;
  position: absolute; /*elemento que o faz destacar na frente*/
  left: 0; /*faz com que o menu inicie a sua aparição no inicio*/
  width: 250px;
  top: 100%; /*difine a altura do inicio do menu na sua aparição*/
  border: 1px solid darkgoldenrod;
  background-color: #fff;
}
.menu > li {
  float: left;
  list-style: none;
  padding: 16px;
  border-top: 4px solid transparent;
  position: relative; /*contem o elemento dentro do seu espaço*/
}
/*essa DIV foi criada para dar uma distancia no BOTTOM do HEADER*/
.clear {
  clear: both;
}
/*efeito criado para quando o mouse passar o menu aparecer*/
.menu li:hover .submenu {
  display: block;
}
.menu li:hover {
  color: darkgoldenrod;
  border-color: darkgoldenrod;
}
.submenu li {
  display: block;
  padding: 8px;
}
/*---- FIM DO HEADER -------*/

/*------- CONTEÚDO -------*/
.conteudo {
  display: grid;
  grid-template-columns: 70% 30%;
}
/*------- SECTION NOTICIAS -------*/
.noticia img {
  max-width: 100%;
}
.destaque {
  margin-bottom: 56px;
}
.destaque .noticia a {
  display: flex;
  font-size: 2em;
}
.destaque .noticia img {
  margin-right: 8px;
}
section h2 {
  margin-bottom: 32px;
}
aside {
  padding-left: 40px;
}
aside .noticia {
  margin-bottom: 24px;
}
.noticias {
  display: grid;
  grid-template-columns: repeat(3, 32.6%); /*DIVISÃO DO CONTEUDO*/
  column-gap: 1%;
  row-gap: 5%;
}

/*------- PROJETO RESPONSIVO -------*/

@media screen and (max-width: 767px) {
  .conteudo {
    display: block;
  }
  .container {
    max-width: 90%;
  }
  h1 {
    margin-bottom: 6px;
  }
  .destaque .noticia a {
    display: block;
    font-size: 1, 5em;
  }
  .destaque .noticia img {
    margin-right: 0px;
  }
  .noticias {
    display: block;
  }
  .noticias .noticia {
    margin-bottom: 32px;
  }
  aside {
    padding-left: 0;
  }
  header div.container {
    flex-direction: column;
  }
  .submenu {
    display: block;
    width: 100%;
    position: relative;
    border: none;
  }
  .menu {
    display: none;
  }
  .menu > li {
    clear: both;
  }
  .submenu li {
    display: block;
    padding: 8px;
  }
  .botao-menu {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 16px;
  }
  .botao-menu button {
    padding: 4px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 90%;
  }
  .botao-menu {
    display: none;
  }
  .destaque .noticia a {
    font-size: 1.5em;
  }
  .noticias {
    grid-template-columns: repeat(2, 49%);
  }
}
@media screen and (min-width: 1024px) {
  .botao-menu {
    display: none;
  }
}
